<nav class="navbar bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'listing_list' %}">Jeonse</a>
        <a class="nav-item" href="{% url 'listing_create' %}">Create Listing</a>
        {% if user.is_authenticated %}
            <a class="nav-item" href="{% url 'account_logout' %}">Logout</a>
        {% else %}
            <a class="nav-item" href="{% url 'account_login' %}">Login</a>
            <a class="nav-item" href="{% url 'account_signup' %}">Signup</a>
        {% endif %}
    </div>
</nav>